// SCSS - settings > colors

$s-color__black: #000;
$s-color__navy: #1e2c3a;
$s-color__blue: #c3e8f8;
$s-color__red: #bf2b2c;
$s-color__grey: #3E3857;
$s-color__white: #FFF;
$s-color__trans: rgba(62,72,87,.74);