.p-header{
	width: 100%;
	padding: 1rem $s-padding__mobile;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
	@include s-responsive__mobile-up{
		padding: 2rem $s-padding__desktop;
	}
}

.p-header__inner{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 100%;
	@include s-responsive__mobile-up{
		@include s-responsive__max();
		position: relative;
	}
}

.p-header__menu--menu{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	display: none;
	.is-open &{
		display: flex;
		height: 100vh;
		width: 100vw;
		background: #202F2F;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	ul{
		list-style: none;
		@include s-responsive__mobile-up{
			display: flex;
			align-items: center;
		}
	}
	li{
		margin: 1rem;
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 2rem;
		&.current_page_item{
			border-bottom: 1px solid #D00D1C;
		}
		&:last-of-type{
			border-bottom: none;
			a{
				border: 1px solid #D00D1C;
				border-radius: 5px;
				padding: 1rem;
				height: 3rem;
			}			
		}
		a{
			color: #FFF;
			text-decoration: none;
		}
		@include s-responsive__mobile-up{
			margin: 0 1rem;
		}
	}
	@include s-responsive__mobile-up{
		display: flex;
		position: relative;

	}
}

.p-header__inner{
	
}

.p-header__menu--open{
	display: block;
	.is-open &{
		display: none;
	}
}

.p-header__menu--close{
	display: none;
	position: absolute;
    z-index: 9;
    right: $s-padding__mobile;
	.is-open &{
		display: block;
	}
}

.p-header__logo{
	height: 4rem;
	img{
		width: 100%;
		height: 100%;
		display: block;
		object-fit: contain;
	}
	@include s-responsive__mobile-up{
		height: 6rem;
	}
}