.wp-block{
	.b-slider__slides{
		height: auto;
	}
	.b-slide{
		position: relative;
		left: auto;
		top: auto;
		width: 100%;
		padding: 0 5rem;
		display: flex;
		text-align: center;
		opacity: 1;
	}
}
