.wpcf7-spinner{
	flex-basis: auto !important;
	bottom: 0;
	right: 0;
	position: absolute;
}

.wpcf7-not-valid-tip{
	display: none !important;
}

.wpcf7-response-output{
	border: none !important;
	padding: 1em !important;
	background: #c3e8f8 !important;
	position: relative;
	text-align: center;
}