.b-case-study{
	width: 100%;
	position: relative;
	margin-bottom: 2rem;
}

.b-case-study__inner{
	width: 100%;
	position: relative;
	@include s-responsive__mobile-up{
		display: flex;
		.b-case-study__align--right &{
			flex-direction: row-reverse;
		}
	}
}

.b-case-study__thumbnail{
	width: 100%;
	position: relative;
	padding-top: 51%;
	margin-bottom: 2rem;
	img{
		width: 100%;
		height: 100%;
		display: block;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
	}
	&:before{
		display: block;
		position: absolute;
		top: 1rem;
		left: 50%;
		transform: translateX(-50%);
		content: '';
		border: 1px solid #B5E4F6;
		height: 100%;
		width: calc(100% - 2rem);
		@include s-responsive__mobile-up{
			left: 1rem;
			top: 50%;
			transform: translateY(-50%);
			height: calc(100% - 2rem);
			width: 100%;
			.b-case-study__align--right &{
				left: auto;
				right: 1rem;
			}
		}
	}
	@include s-responsive__mobile-up{
		flex-basis: 50%;
		padding-top: 25.5%;
	}
}

.b-case-study__text{
	@include s-responsive__mobile-up{
		flex-basis: 50%;
		text-align: left;
		padding: 4rem;
		position: relative;
		&:before{
			height: 4px;
			width: 3.5rem;
			background: #EE0C05;
			position: absolute;
			left: -.75rem;
			top: 5rem;
			content: '';
			display: block;
		}
		.b-case-study__align--right &{
			display: flex;
			flex-direction: column;
    		align-items: flex-end;
			&:before{
				left: auto;
				right: -.75rem;
			}
		}
	}
}
.b-case-study__title, .b-case-study__date{
	color: #D3FEFE;
	font-size: 1.5rem;
	font-family: serenity, sans-serif;
	font-weight: 500;
}

.b-case-study__date{
	font-size: 1rem;
	margin-top: .5rem;
	display: inline-block;
	cursor: pointer;
}

.b-case-study__slides{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	display: none;
	z-index: 9;
	background: #1E2C3A;
	overflow: hidden;
	&.is-open{
		display: block;
	}
}

.b-case-study__slides--track{
	height: 50%;
	width: 100%;
	position: relative;
}

.b-case-study__slides--controls{
	position: absolute;
	left: 0;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	justify-content: space-between;
	padding: 0 .5rem;
	height: 1.5rem;
	cursor: pointer;
	z-index: 9;
	.is-single &{
		display: none;
	}
	>div{
		width: 2rem;
		height: 2rem;
		padding: .5rem;
		background: #6d6d6d;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		@include s-responsive__mobile-up{
			width: 3rem;
			height: auto;
			background: transparent;
		}
	}
	svg{
		width: 100%;
		height: 100%;
		display: block;
		object-fit: contain;
		path{
			stroke-width: 5px;
			@include s-responsive__mobile-up{
				stroke-width: 2px;
			}
		}
		.b-slider__color--dark &{
			path{
				stroke: #FFF;
			}
		}
		.b-slider__color--light &{
			path{
				stroke: #1E2C3A;
			}
		}
	}
	@include s-responsive__mobile-up{
		height: 6.5rem;
		bottom: auto;
		top: 50%;
		@include s-responsive__max();
		transform: translate(-50%, -50%);
		padding: 0;
	}
}

.b-case-study__slides--inner{
	padding: $s-padding__mobile;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	line-height: 1.5;
	height: 100%;
	width: 100%;
	@include s-responsive__mobile-up{
		max-width: 1140px;
		position: relative;
	    left: 50%;
	    transform: translateX(-50%);
	}
}

.b-case-study__slides--close{
	position: absolute;
	top: 1rem;
	right: 1rem;
	display: block;
	z-index: 99;
	color: #FFF;
	font-size: 3rem;
	cursor: pointer;
}

.b-case-study__slides--copy{
	color: #FFF;
	flex-grow: 1;
	width: 100%;
	p{
		margin-bottom: 1rem;
	}
	ul{
		height: 100%;
		@include s-responsive__mobile-up{
			columns: 2;
		}
	}
	li{
		margin-right: 1rem;
		margin-left: 1rem;
	}
}