.b-case-studies{
	width: 100%;
	display: block;
	position: relative;
	background: #1E2C3A;
}

.b-case-studies__inner{
	width: 100%;
	padding: 5rem $s-padding__mobile;
	text-align: center;
	position: relative;
	display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    @include s-responsive__mobile-up{
    	@include s-responsive__max();
    }
}

.b-case-studies__headline{
	font-size: 3rem;
	font-weight: 100;
	margin-bottom: 1em;
	color: #FFF;	
	@include s-responsive__mobile-up{
		font-size: 4rem;
	}
}

.b-case-studies__case-studies{
	width: 100%;
	position: relative;
}