.b-lead-stats{
	position: relative;
	width: 100%;
	// height: 33rem;
	height: 100vh;
	@include s-responsive__mobile-up{
		// height: 59.5rem;
	}
}

.b-lead-stats__background{
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
		object-position: center;
	}
	overflow: hidden;
	video{
		width: 100%;
		height: 100%;
		display: block;
		object-fit: cover;
	}
}

.b-lead-stats__foreground{
	position: relative;
	z-index: 2;
	height: 100%;
	width: 100%;
}

.b-lead-stats__inner{
	padding: 0 $s-padding__mobile;
	padding-bottom: 12rem; // offsets vertical center of flex
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;	
	@include s-responsive__mobile-up{
		padding: 0 $s-padding__desktop;
	}
	@include s-responsive__desktop-up{
		padding: 0;
	}
}

.b-lead-stats__headline{
	color: #FFF;
	font-size: 2.5rem;
	font-family: serenity, sans-serif;
	text-transform: uppercase;
	font-weight: 500;
	line-height: .77;
	text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
	@include s-responsive__mobile-up{
		font-size: 3.5rem;
		@include s-responsive__max();
		position: relative;
	}
}

.b-lead-stats__lead-stats{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 1.5rem;
	background: rgba(121, 228, 246, .6);
	width: 100%;
	height: 7.5rem;
	@include s-responsive__mobile-up{
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 3rem;
	}
}