.b-slider{
	position: relative;
	width: 100%;
	display: block;
	&.b-slider__color--dark{
		background: #1E2C3A;
	}
	&.b-slider__color--light{
		background: #D7D7D7;
	}
}

.b-slider__inner{
	width: 100%;
	padding: 5rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.b-slider__headline{
	font-size: 2rem;
	font-weight: 100;
	margin-bottom: 1em;
	text-align: center;
	.b-slider__color--dark &{
		color: #FFF;
	}
	.b-slider__color--light &{
		color: #1E2C3A;
	}
	@include s-responsive__mobile-up{
		font-size: 4rem;
	}
}

.b-slider__controls{
	position: absolute;
	top: 50%;
	left: 0;
	width: 100vw;
	transform: translateY(-50%);
	display: flex;
	justify-content: space-between;
	padding: 0 1rem;
	height: 1.5rem;
	cursor: pointer;
	svg{
		width: 100%;
		height: 100%;
		display: block;
		object-fit: contain;
		path{
			stroke-width: 2px;
		}
		.b-slider__color--dark &{
			path{
				stroke: #FFF;
			}
		}
		.b-slider__color--light &{
			path{
				stroke: #1E2C3A;
			}
		}
	}
	@include s-responsive__mobile-up{
		height: 6.5rem;
		@include s-responsive__max();
		transform: translate(-50%, -50%);
	}
}


.b-slider__prev, .b-slider__next{
	position: absolute;
	top: 0;
	height: 100%;
	width: 1rem;
	@include s-responsive__mobile-up{
		width: 3rem;
	}
}

.b-slider__prev{
	left: 1rem;
}

.b-slider__next{
	right: 1rem;
}

.b-slider__slides{
	position: relative;
	width: 100%;
	height: 16rem;
	overflow: hidden;
	margin-bottom: 2rem;
	@include s-responsive__mobile-up{
		margin-bottom: 6rem;
	}
}

.b-slider__dots{
	margin-bottom: 2.5rem;
	@include s-responsive__mobile-up{
		margin-bottom: 6rem;
	}
}

.b-slider__dot{
	display: inline-block;
	content: '';
	position: relative;
	height: 1rem;
	margin-right: .5rem;
	width: 1rem;
	border-radius: 50%;
	.b-slider__color--dark &{
		background: #B5E4F6;
		&.is-current{
			background: #D00D1C;
		}
	}
	.b-slider__color--light &{
		background: #1E2C3A;
		&.is-current{
			background: #D00D1C;
		}
	}
}

.b-slider__cta{
	width: calc(100% - #{$s-padding__mobile});
	font-size: 21px;
	color: #FFF;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem 0;
	cursor: pointer;
	user-select: none;
	text-decoration: none;
	strong{
		margin-left: .5rem;
		.b-slider__color--light &{
			color: #d00d1c;
		}
	}
	.b-slider__color--dark &{
		background: #D00D1C;
	}
	.b-slider__color--light &{
		background: #5D5D5D;
	}
	@include s-responsive__mobile-up{
		max-width: 40rem;
		position: relative;
	}
}