
.b-slide{
	position: absolute;
	left: 0;
	transition: opacity .25s;
	top: 0;
	width: 100%;
	opacity: 0;
	padding: 0 2rem;
	display: flex;
	text-align: center;
	&.is-current{
		opacity: 1;
	}
	&.is-tallest{
		position: relative;
	}
	@include s-responsive__mobile-up{
		padding: 0 5rem;
	}
	@include s-responsive__tablet-up{
		padding: 0 3rem;
	}
}

.b-slide__inner{
	width: 100%;
	@include s-responsive__mobile-up{
		max-width: 47rem;
		left: 50%;
		transform: translateX(-50%);
		position: relative;
	}
}

.b-slide__headline{
	font-weight: 600;
	font-size: 2.5rem;
	margin-bottom: 1em;
	.b-slider__color--dark &{
		color: #FFF;
	}
	.b-slider__color--light &{
		color: #1E2C3A;
	}
	@include s-responsive__mobile-up{
		font-size: 4rem;
	}
}

.b-slide em{
	font-style: italic;
	font-weight: 900;
	margin-right: 1rem;
	.b-slider__color--dark &{
		color: #B5E4F6;
	}
	.b-slider__color--light &{
		color: #D00D1C;
	}
}

.b-slide__paragraph{
	line-height: 1.5;
	font-size: 1rem;
	.b-slider__color--dark &{
		color: #FFF;
	}
	.b-slider__color--light &{
		color: #1E2C3A;
	}
}