.b-tabs{
	width: 100%;
	display: block;
	position: relative;
	height: 39rem;
	text-align: center;
	overflow: hidden;
	@include s-responsive__mobile-up{
		height: 100vh;
	}
}

.b-tabs__inner{
	width: 100%;
	height: 100%;
}

.b-tabs__headline{
	padding: 5rem $s-padding__mobile;
	font-size: 2rem;
	color: #FFF;
	font-weight: 100;
	position: absolute;
	z-index: 3;
	left: 50%;
	transform: translateX(-50%);
	@include s-responsive__mobile-up{
		font-size: 4rem;
		max-width: 22rem;
	}
}

.b-tabs__tabs{
	width: 100%;
	height: 100%;
}

.b-tabs__buttons{
	width: 100%;
	height: 6.5rem;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: flex-end;
	justify-content: center;
	max-width: 49rem;
}
